
*{
    box-sizing: border-box;
    scrollbar-width: none;
}

body{
    margin: 0%;
    padding: 0%;
    font-family:  sans-serif,Arial, Helvetica;
    font-size: 20px;
    height: 100%;
    width: 100%;
    scrollbar-width: none;

}
.wrapper{
  z-index: 11;
  top: 4px;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding: 0%;
  margin: 0%;
  overflow-x: hidden;
  overflow-y:scroll;
  scrollbar-width: none;
  border: none;
  padding-top:5px ;
}

#particles-js{
  background: #9466af9f;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 3;
  margin: 0%;
  padding: 0%;
  object-fit: cover;
  border: 3px solid black;
  scrollbar-width: none;
}

div{
  width:100%;
  padding: 0%;
  margin: 0 auto;
}

form{
    background-color: rgb(255, 250, 250);
    text-align: center;
    align-items: center;
    max-width: 700px;
    border-radius: 4px;
    margin: 0 auto;
    padding:2rem;
}

.brand-logo{
    overflow: hidden;
    margin-bottom: 2rem auto;
}

.brand-logo img{
   margin: 0%;
   align-self: start;
    height: 15rem;
    width: 15rem;
}

input{
  width:80%;
  outline: none;
  background: none;
  margin-top: 2rem;
  padding: 1rem;
  border: 2px solid #a62bb6e7;
  border-radius: 4px;
  font-size: medium;
}

input:focus-within{
border: 2px solid hsla(226, 90%, 54%, 0.377);
}

.team-size{
  margin: 0%;
  padding: 0%;
  overflow: hidden;

}
.team-size input{
  width:5%;
  outline: none;
  background: none;
  text-align: left;
}
.team-size .rbtn-wrap{
  text-align: left;
  width: 70%;
}

.btn{
  width:100%;
}

.btn button{
    width:40%;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 9px;
    border: none;
    background-color: #9466af9f;
    font-size: 20px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn button:hover{
    cursor: pointer;
    color: #ffffff;
    background-color: #a470c2ce;
}

footer{
    padding-top: 1rem;
    padding-bottom: 0%;
    background-color: rgb(12, 11, 11);
    margin: 0%;
    text-align: center;
    align-items: center;
    color: rgb(255, 255, 255);
    border-top: 1px solid #808080;
  }

  footer div{
      padding: 0%;
      margin: 0%;
  }

 div.social{
    display: inline-block;
    padding-top: 1.3rem;
  }

  div.social a{
  margin-right: 1.4rem;
  text-decoration: none;
  color:purple;
  }
  
  div.credit{
    display:inline-block;
    text-align: center;
    padding-bottom: 1.3rem;
  }

  div.credit a{
    text-decoration: none;
    color: rgb(255, 255, 255);
  }



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


::-webkit-scrollbar {
  display: none;
}