
*{
    box-sizing: border-box;
}

body{
    margin: 0%;
    padding: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,arial, sans-serif;
    font-size: 18px;
}

form{
    text-align: center;
    align-items: center;
    max-width: 700px;
    border: 2px solid rgb(29, 28, 28);
 
    margin: 3rem auto;
    padding:3rem;
}

.brand-logo{
    overflow: hidden;
    margin-bottom: 2rem;
}

.brand-logo img{
    max-height: 15rem;
    max-width: 15rem;
}

input{
    margin: 1rem;
    padding: 1rem;
    border-radius: 7px;
    border: none;
    border-bottom: 1px solid olivedrab;
}


input:hover{
    cursor: pointer;
}

input{
    width:75%;
}

.btn button{
    width:100%;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn button:hover{
    cursor: pointer;
    text-decoration: underline;
}


footer{
    padding-top: 1rem;
    padding-bottom: 0%;
    background-color: rgb(12, 11, 11);
    margin: 0%;
    text-align: center;
    align-items: center;
    color: rgb(255, 255, 255);
    border-top: 1px solid grey;
  }
  footer div{
      padding: 0%;
      margin: 0%;
  }
 /* div.social{
    display: inline-block;
  }
  div.social a{
  padding: 1.2em;
  text-decoration: none;
  color:purple;
  }
  */
  div.credit{
    display:inline-block;
    text-align: center;
  }
  div.credit a{
    text-decoration: none;
    color: rgb(255, 255, 255);
  }


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}