*{
  margin: 0;
  padding:0;
}
body{
  box-sizing: border-box;
  align-items: center;
}
div{
  display: block;
}
.wrapper{
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  font-family: arial;
  align-items: center;
}
h3{
  margin:1rem;
}
input{
  margin: 1rem;
}
button{
  margin: 1rem;
}
