
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}

header{
    padding: 1.2rem;
    border-bottom: 1px solid black;
    background: #232323;
    letter-spacing: 0.1rem;
    display: flex;

    img{
        max-height: 2.7rem;
        margin-left: 2rem;
        align-items: center;
        text-align: center;
        overflow: hidden;
    }

    nav{
        font-size: 20px;
        width: 100%;
    }

   nav  ul .menu{
        list-style: none;
    }

    nav ul{
        float: right;
        overflow: hidden;

        li{
            display: inline;
            padding-right: 2.5rem;
        }

        li a {
            text-decoration: none;
            color:white;
            font-size: 20px;
            font-family: 'Poppins', sans-serif;
        }
        #rgst button{
            background: none;
            padding-left: 1rem;
            padding-right: 1rem;
            border-radius: 40px;
            border: 3px solid #F89932;
            box-sizing: border-box;
            color:white;
            font-size: 18px;
            font-family: 'Poppins', sans-serif;
        }
    } 
}

.wrapper{
    margin: 0%;
    height: 800px;
    background-image: url("Asset 3 1.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

footer{
    .copy{
        padding: 0.5rem;
        border-top: 0.04rem solid black;
        text-align: center;
    }
}

